.Container {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 15px;
  width: 50%;
  display: none;
  margin-top: 1%;
  height: 50px;
  @media (max-width: 724px) {
    margin-top: 5px;
  }
  @media (max-width: 644px) {
    width: 30%;
  }
  @media (max-width: 644px) {
    width: 30%;
  }
  @media (max-width: 409px) {
    font-size: 0.8rem;
  }
  @media (max-width: 328px) {
    font-size: 0.7rem;
  }
}


.HeaderContainer {
  text-align: center;
  width: 100vw;
  height: 8.09vh;
  margin-bottom: 15px;
  padding-top: 0px;
}

.Main {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 40px;
  width: 100%;
}

/* gskcode css */
.myClass {
  opacity: 0;
  pointer-events: none;
}

/* Modal */

.modal{
  overflow: hidden !important;
}
.modal-body {
  position: relative;
  top: 10vh;
  /* flex: 3 1 auto; */
  /* padding: 0rem; */
  left : -70px;
  width: 62vw;
  height: 89vh;
}
.modal-backdrop {
  background-color: white;
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;

  pointer-events: auto;
  background-clip: padding-box;
  border: none !important;
  border-radius: 2.3rem;
  outline: 0;

  height: 85%;
  width: 65%;
  position: absolute;
  top: 55%;
  transform: translate(-50%, -50%);
  background-image: url('../../Assets/img/propertypanel@2x.png');
  background-size: 100% 90%;
}


/* Inputs and Digital css */


/* true */
.flowchart-switch-button-true {
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  color: #717171 !important;
  position: relative;
  right: 8%;
  bottom : -20px;
  opacity: 1;
  width: 210px;
  height: 35px;
  text-align: center;
  position: relative;
  position: relative;
  margin: 10px 0px 0px 0px;
}


.flowchart-switch-button-true input {
 position: absolute;
 opacity: 0;
}
.flowchart-switch-button-true input + label {
 float:left;
 cursor: pointer;
 margin: 0;
 position: relative;
 padding: 5px 0px;
 text-align: end;
 width: 65px;
 display: inline-block;
}
/* .flowchart-switch-button-true input:checked + label {
 background: #30a8ce;
 transition: smooth 300ms;
} */
#digital-slider-A1,#digital-slider-A2,
#digital-slider-B1,#digital-slider-B2,
#digital-slider-C1,#digital-slider-C2,
#digital-slider-D1,#digital-slider-D2{
  background: #30a8ce;
  border-radius: 30px;
  height: 100%;
  width: 35%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(0px);
  transition: transform 200ms linear;
}
.slide-A1-digital,.slide-A2-digital,
.slide-B1-digital,.slide-B2-digital,
.slide-C1-digital,.slide-C2-digital,
.slide-D1-digital,.slide-D2-digital{
  transform: translateX(0px) !important;
}
.slide-A1-analog,.slide-A2-analog,
.slide-B1-analog,.slide-B2-analog,
.slide-C1-analog,.slide-C2-analog,
.slide-D1-analog,.slide-D2-analog{
  transform: translateX(75px) !important;
}
.slide-A1-servo,.slide-A2-servo,
.slide-B1-servo,.slide-B2-servo,
.slide-C1-servo,.slide-C2-servo,
.slide-D1-servo,.slide-D2-servo{
  transform: translateX(145px) !important;
}

/* .flowchart-switch-button-label-span{
  position: relative;
  left: 23px;
} */

/* false */
.flowchart-switch-button-false {
  opacity: 0.3;
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  text-align: center;
  color: #717171 !important;
  position: relative;
  right: 8%;
  bottom : -20px;
  width: max-content;
  height: 35px;
  text-align: center;
  position: relative;
  position: relative;
  margin: 10px 0px 0px 0px;
}
.flowchart-switch-button-false input {
 position: absolute;
 opacity: 0;
}
.flowchart-switch-button-false input + label {
  cursor: pointer;
  margin: 0;
  position: relative;
  padding: 5px 0px;
  text-align: initial;
  width: 75px;
  display: inline-block;
}


/* ================================================================= */

/* Port Inputs Digital css*/

.MainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
  @media (max-width: 800px) {
    transform: scale(0.96);
    left: 2%;
  }
  @media (max-width: 700px) {
    left: 0;
  }
  @media (max-width: 624px) {
    transform: scale(0.9);
  }
  @media (max-width: 584px) {
    transform: scale(0.8);
  }
  @media (max-width: 500px) {
    transform: scale(0.7);
  }
  @media (max-width: 424px) {
    transform: scale(0.65);
  }
  @media (max-width: 388px) {
    transform: scale(0.55);
    bottom: 80px;
  }
  @media (max-width: 320px) {
    transform: scale(0.5);
  }
  @media (min-height: 900px) {
    transform: scale(1);
    top: 150px;
  }
  @media (max-height: 670px) {
    @media (max-height: 400px) {
      transform: scale(0.7);
      bottom: 50px;
    }
  }
}
.MainContainerInput {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  overflow: hidden;
  @media (max-width: 800px) {
    transform: scale(0.96);
    left: 2%;
  }
  @media (max-width: 700px) {
    left: 0;
  }
  @media (max-width: 624px) {
    transform: scale(0.9);
  }
  @media (max-width: 584px) {
    transform: scale(0.8);
  }
  @media (max-width: 500px) {
    transform: scale(0.7);
  }
  @media (max-width: 424px) {
    transform: scale(0.65);
  }
  @media (max-width: 388px) {
    transform: scale(0.55);
    bottom: 80px;
  }
  @media (max-width: 320px) {
    transform: scale(0.5);
  }
  @media (min-height: 900px) {
    transform: scale(1);
    top: 150px;
  }
  @media (max-height: 670px) {
    @media (max-height: 400px) {
      transform: scale(0.7);
      bottom: 50px;
    }
  }
}
/*  PORT */
.ports-Container{
  display: flex;
  position: relative;
  background-color: #eee;
  width: 100%;
  left: 15%;
  height: 100%;
}
.properties-Container{
  position: relative;
  flex:20%;
  top: 15%;
  right: 8%;
}
.properties-b {
  width: 10em;
  height: 22em;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: 400px 400px;
  background-position-x: -99px;
  background-image:  url("../../Assets/properties small bg.svg");
  opacity: 1;
}
.properties-bIn {
  display: flex;
  font-size: 0;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  top: 22%;
  left: 39%;
  width: 100%;
}
.properties-InputLabel {
  color: white;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.properties-InputCheckBox {
  appearance: none;
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  position: relative;

}
.properties-InputCheckBox:checked {
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  color: white;
  position: relative;
}
.ButtonBackground {
  border: 2px solid #311b92;
  padding: 10px;
  margin: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* .ButtonBackground .im {
  border: 2px solid #311b92;
  padding: 10px;
  margin: 12px;
  border-radius: 35px;
  display: flex;
  justify-content: space-around;
  background: url("./assets/img/popup card.png");
  width: 100%;
  position: relative;
  left: 0;
  top: 0;
} */

.ButtonDiv {
  position: absolute;
  z-index: 99;
  left: 17%;
}

.ButtonRightDiv {
  position: absolute;
  z-index: 99;
  left: 46%;
}

.CenterImg {
  display: flex;
  width: 25%;
  position: relative;
}
.iconBtnSize {
  height: 60px;
  width: 60px;
}
.InputLabel {
  color: white;
}
.InputLabel-true{
  opacity: 0.3;
}

.InputCheckBox {
  appearance: none;
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-image: url("../../Assets/img/a1@3x.png");
  position: relative;
  background-size: 60px 60px;
}
.InputCheckBox:checked {
  width: 60px;
  height: 60px;
  background-image:url("../../Assets/img/a-1@3x.png");
  background-repeat: no-repeat;
  color: white;
  position: relative;
  background-size: 60px 60px;
}

.A1 {
  position: relative;
  top: -1.5em;
  right: 25%;
  pointer-events: none;
}
.BottomContainer {
  border: 1px solid blue;
  border-radius: 15px;
  padding: 15px;
  width: 75%;
  margin-left: 12.5%;
  @media (max-width: 450px) {
    width: 90%;
    margin-left: 0.5%;
  }
}

.SwitchButton {
  position: relative;
  top: 8px;
}
.tlb {
  background-image: url("../../Assets/img/popup card@2x.png");
  opacity: 1;
  position: relative;
  margin-top: 7%;
  width: 200pt;
  background-size: 200pt 130pt;
  height: 100pt;
  background-repeat: no-repeat;
  background-position-y: center;
  opacity: 1;
}
.tlbIn {
  position: relative;
  left: 25%;
  top: 28%;
  display: inline-block;
}

.textsp {
  position: relative;
  top: -1vh;
  left: -1vw;
}
.upper-label-input {
  position: relative;
  width: 0px;
  height: 0px;
  left: 0vw;
  top: -1vh;
}
label {
  display: inline;
}
.hid1 {
  position: relative;
  left: -1.8vw;
  top: 0.5vh;
}
.ends {
  position: relative;
  top: 48vh;
  font-size: 12px;
  font-weight: normal;
  font-family: "Helvetica Neue", Helvetica, Arial, sans;
}
.last-item {
  position: relative;
  left: 45.5vw;
  top: -7vh;
}
.left {
  position: relative;
  left: 20.6vw;
  top: 1vh;
}
.left-n {
  position: relative;
  left: 80.6vw;
  top: 1vh;
}
.CenterImg {
  display: flex;
  position: relative;
  left: 8em;
}
/* ---------------------------------------------------------------- */

/* INPUT  */


.ButtonDivInput {
  position: relative;
  left:15%;
}
.ButtonRightDivInput {
  position: relative;
  left:20%;
}

.Inputs-flow-left-upper {
  background-image: url("../../Assets/img/popup card@2x.png");
  width: 270pt;
  margin-top: 5%;
  background-repeat: no-repeat;
  background-size: 280pt 186pt;
  background-position: center;
  height: 110pt;
}
.Inputs-flow-left-upper-ultrasonic{
  width: 260pt;
  height: 130pt;
  margin-top: 5%;
  background-image: url("../../Assets/popup\ card-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 140%;
}
.Inputs-flow-left-upper-rgb{
  width: 260pt;
  height: 130pt;
  margin-top: 5%;
  background-image: url("../../Assets/popup\ card-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 140%;
}
.Inputs-flow-left-upper-mp3{
  width: 260pt;
  height: 130pt;
  margin-top: 5%;
  background-image: url("../../Assets/popup\ card-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 140%;
}
.Inputs-flow-left-upper-grp {
  position: relative;
  top: 20%;
  left: 30%;
}
.Inputs-flow-left-upper-oled {
  width: 260pt;
  height: 130pt;
  margin-top: 5%;
  background-image: url("../../Assets/popup\ card-5.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 140%;
}
.Inputs-ports-Container{
  display: flex;
  position: relative;
  background-color: #eee;
  width: 100%;
  left: 15%;
  height: 100%;
}
.Inputs-properties-Container{
  position: relative;
  top: 15%;
  right: 8%;
}
.Inputs-properties-b {
  width: 10em;
  height: 22em;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: 400px 400px;
  background-position-x: -99px;
  background-image:  url("../../Assets/properties small bg.svg");
  opacity: 1;
}
.Inputs-properties-bIn {
  display: flex;
  font-size: 0;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  top: 22%;
  left: 39%;
  width: 100%;
}
.Inputs-properties-InputLabel {
  color: white;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.Inputs-properties-InputCheckBox {
  appearance: none;
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  position: relative;
}
.Inputs-properties-InputCheckBox:checked {
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.switch-button-ultrasonic-false{
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  width: 151px;
  height: 35px;
  text-align: center;
  color: #717171;
  position: relative;
  padding-right: 120px;
  position: relative;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
.switch-button-ultrasonic-false::before {
  content: "Ultrasonic";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 12%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.switch-button-ultrasonic-true::before {
  content: "Ultrasonic";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.switch-button-ultrasonic-true{
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: #30a8ce;
  color: #000000;
  position: relative;
  padding-right: 120px;
  cursor: pointer;
  position: relative;
  margin: 10px 0px 0px 0px;
}
.switch-button-checkbox-ultrasonic{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.upper-label-input-ultrasonic{
  left : 2vh !important ;
}
.Inputs-flow-left-upper-grp-ultrasonic {
  position: relative;
  top: 10%;
  left: 30%;
}
.ultrasonic-disabled-true{
  background-color: #e6e6e6 !important;
  opacity: 0.3; 
}

.switch-button-rgb-false{
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  width: 0px;
  height: 35px;
  text-align: center;
  color: #717171;
  position: relative;
  padding-right: 90px;
  position: relative;
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}
.switch-button-rgb-false::before {
  content: "RGB";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 50%;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.switch-button-rgb-true::before {
  content: "RGB";
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 0px; */
  left: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
  width: 31px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.switch-button-rgb-true{
  display: inline-block;

  border-radius: 30px;
  overflow: hidden;
  width: 0px;
  height: 35px;
  text-align: center;
  background-color: #30a8ce;
  color: #000000;
  position: relative;
  padding-right: 90px;
  position: relative;
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}
.switch-button-checkbox-rgb{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.upper-label-input-rgb{
  left : -3vh !important ;
}
.Inputs-flow-left-upper-grp-rgb {
  position: relative;
  top: 10%;
  left: 30%;
}
.rgb-disabled-true{
  background-color: #e6e6e6 !important;
  opacity: 0.3; 
}

.switch-button-mp3-false{
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  width: 0px;
  height: 35px;
  text-align: center;
  color: #717171;
  position: relative;
  padding-right: 90px;
  position: relative;
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}
.switch-button-mp3-false::before {
  content: "MP3";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 50%;
  width: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.switch-button-mp3-true::before {
  content: "MP3";
  position: absolute;
  top: 0;
  bottom: 0;
  /* right: 0px; */
  left: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
  width: 31px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.switch-button-mp3-true{
  display: inline-block;

  border-radius: 30px;
  overflow: hidden;
  width: 0px;
  height: 35px;
  text-align: center;
  background-color: #30a8ce;
  color: #000000;
  position: relative;
  padding-right: 90px;
  position: relative;
  margin: 10px 0px 0px 10px;
  cursor: pointer;
}
.switch-button-checkbox-mp3{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.upper-label-input-mp3{
  left : -3vh !important ;
}
.Inputs-flow-left-upper-grp-mp3 {
  position: relative;
  top: 10%;
  left: 30%;
}
.mp3-disabled-true{
  background-color: #e6e6e6 !important;
  opacity: 0.3; 
}

.switch-button-oled-false{
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  width: 151px;
  height: 35px;
  text-align: center;
  color: #717171;
  position: relative;
  padding-right: 120px;
  position: relative;
  margin: 10px 0px 0px 0px;
  cursor: pointer;
}
.switch-button-oled-false::before {
  content: "OLED";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  left: 12%;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.switch-button-oled-true::before {
  content: "OLED";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
}
.switch-button-oled-true{
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  width: 150px;
  height: 35px;
  text-align: center;
  background-color: #30a8ce;
  color: #000000;
  position: relative;
  padding-right: 120px;
  cursor: pointer;
  position: relative;
  margin: 10px 0px 0px 0px;
}
.switch-button-checkbox-oled{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.upper-label-input-oled{
  left : 2vh !important ;
}
.Inputs-flow-left-upper-grp-oled {
  position: relative;
  top: 10%;
  left: 30%;
}
.oled-disabled-true{
  background-color: #e6e6e6 !important;
  opacity: 0.3; 
}

/* ---------------------------------------------------------------- */


/* Digital  */
.Digital{
  overflow: hidden;
  height: 100%;
}
.digital-ButtonDivInput {
  position: relative;
  left: 15%;
}
.digital-ButtonRightDivInput {
  position: relative;
  left: 20%;
}


.upper-label-input > span,
.lower-label-input > span {
  top: -1vh !important;
}

.digital-flow-left-upper {
  position: relative;
  height: 155pt;
  background-size: 260pt 200pt;
  background-repeat: no-repeat;
  background-image: url("../../Assets/popup\ card-5.png");
  background-position: center;
  /* background-position-y: -33px; */
}
.digital-flow-left-upper-grp {
position: relative;
left: 30%;
top : 10%;
}
.Digital-flow-left-upper {
  width: 280pt;
  height: 110pt;
  background-size: 270pt 190pt;
  background-image: url("../../Assets/img/popup card@2x.png");
  background-repeat: no-repeat;
  background-position: center;
}
.Digital-flow-left-upper-grp {
  position: relative;
  top: 22%;
  left: 30%;
}

.upper-label-input >.digital-textsp{
  left: -60px !important;
  top: 1.5vh !important;
}
/* 
.Digital-CenterImg{
  left: -20vh !important;
  top: 0;
} */
.Digital-ports-Container{
  display: flex;
  position: relative;
  background-color: #eee;
  width: 100%;
  left: 20%;
  height: 100%;
}
.Digital-properties-Container{
  position: relative;
  flex:20%;
  top: 15%;
  right: 8%;
}

.Digital-ports-Container{
  display: flex;
  position: relative;
  background-color: #eee;
  width: 100%;
  left: 15%;
  height: 100%;
}
.Digital-properties-Container{
  position: relative;
  top: 15%;
  right: 8%;
}
.Digital-properties-b {
  width: 10em;
  height: 22em;
  background-repeat: no-repeat;
  /* background-size: 100% 100%; */
  background-size: 400px 400px;
  background-position-x: -99px;
  background-image:  url("../../Assets/properties small bg.svg");
  opacity: 1;
}
.Digital-properties-bDi {
  display: flex;
  font-size: 0;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  top: 22%;
  left: 39%;
  width: 100%;
}
.Digital-properties-DigitalLabel {
  color: white;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.Digital-properties-DigitalCheckBox {
  appearance: none;
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  position: relative;

}
.Digital-properties-DigitalCheckBox:checked {
  width: 70px;
  height: 70px;
  background-size: 100%;
  background-image: url("../../Assets/a1.svg");
  background-repeat: no-repeat;
  color: white;
  position: relative;
}

.switch-button-servo-true{
  opacity: 1;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
  width: 100px;
  height: 35px;
  text-align: center;
  justify-content: center;
  color: #ffffff;
  background-color: #30a8ce;
  position: relative;
  padding-top: 5px;
  content: "Servo";

}
.switch-button-servo-true::before{
  content: "Servo";
  color: #ffffff;
  position: absolute;
    top: 0;
    bottom: 0;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
    cursor: pointer;
}
.switch-button-servo-false::before{
  content: "Servo";
  color: #000000;
  position: absolute;
    top: 0;
    bottom: 0;
    width: 105px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
}
.switch-button-servo-false{
  opacity: 0.6;
  display: inline-block;
  background: #e6e6e6;
  border-radius: 30px;
  overflow: hidden;
  width: 100px;
  height: 35px;
  text-align: center;
  justify-content: center;
  color: #717171;
  position: relative;
  padding-top: 5px;
}
.switch-button-checkbox-servo{
  cursor: pointer;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.upper-label-input-servo{
  left: 2vw !important;
}
.upper-label-input-servo-false{
  opacity: 0.3;
  pointer-events: none;
}
.A1{
  color: black;
}
.A2{
  position: relative;
  top: -1.5em;
  right: 25%;
  pointer-events: none;
  color: white;
}
.InputCheckBox:disabled{
  opacity: .5;
}
.A1:disabled{
  opacity: .5;
}
